html{
	min-height: 100%;
}
body
{
	font-size: 100%;
}
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	src: url("Montserrat-Regular");
}
.background1
{
	background-image: url("fundal_negru.png");
}
.header
{
	display: flex;
	flex-direction: row;
}
.home-icon
{
	content: url("home-white.png");
	height: 4.5vw;
	margin-top: 2%;
	margin-left: 2%;
	padding-left: 0;
}
.home-icon:hover
{
	content: url("home-orange.png");
	height: 4.5vw;
	margin-left: 2%;
	padding-left: 0;
}
.slogan-icon
{
	margin: auto;
	margin-top: 1%;
}
.icon-slogan
{
	height: 5vw;
}
.den-decor
{
	color:white; 
	text-align:center; 
	font-size: 2vw;
	padding: 0;
}
.container
{
	display: flex;
	flex-direction: row;
	gap: 5%;
}
.titlu2
{
	text-align: center;
	color: orange;
	font-family: Montserrat, sans-serif;
	font-size: 4vw;

}
.text1
{
	margin-top: 5%;
	font-family: Montserrat, sans-serif;
	font-size: 2.5vw;
	color: white;
	text-align: center;
}
.text1>p
{
	padding:10% ;
}
#img1
{
	height: 30vw;
}
.img-col
{
	margin-top: 5%;
	margin-bottom: 3%;
	margin-right: 2%;
}

.background2
{
	display: flex;
	flex-direction: row;
	background-image: url("fundal.png");
	align-items: center;
	
}
.img-paine-felii
{
	margin-right: 2%;
	margin-top: 10%;
	margin-left: 2%;
}
.img-paine-felii img
{
	height: 25vw;
}
.text-ingrediente
{
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 3vw;
	color: white;
	margin-right: 2%;
	
}
.gramaj
{
	font-size: 4vw;
	color: orange;
	text-align: center;
}
.background3
{
	background-image: url("fundal_negru.png");
	display: flex;
	justify-content: center;
	flex-direction: column;
}
table{
	color: white;
	margin: auto;
	width: 50%;
	font-family: Montserrat, sans-serif;
	font-size: 2.5vw;
	border: 1px solid orange;
}
.col2{
	text-align: right;
}
.background-footer
{
	background-image: url("fundal.png");
	display: flex;
	flex-direction: row;
}
.subsol
{
  margin: auto;
  color: white;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-size: 2vw;
}
@media screen and (max-width: 768px)
{
.home-icon
{
	content: url("home-white.png");
	height: 6vw;
	margin-left: 2%;
	padding-left: 0;
}
.home-icon:hover
{
	content: url("home-orange.png");
	height: 6vw;
	margin-left: 2%;
	padding-left: 0;
}
	
}
@media screen and (max-width: 600px)
{
	.icon-slogan
{
	height: 8vw;
	margin-top: 2%;
}
	.container
{
	
	flex-direction: column;
	align-items: center;
	
}
	.background2
{
	flex-direction: column-reverse;
}
.text1>p
{
	padding:10% ;
}
#img1
{
	height: 30vw;
}
.img-col
{
	margin-top: 0%;
}

.text1>p 
{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 3.5vw;
}
.img-paine-felii
{
	
	margin-top: 5%;

}
.text-ingrediente
{
	padding: 5%;
	margin-top: 5%;
}

}